body
{
  background-color: #191f38;
}

img
{
  object-fit: fill;
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
  margin: auto;
}

#capa
{
  z-index: 1;
  opacity: 1;
  transition: 2s;
}

#texto
{
  z-index: 0;
}

#but
{
  position: absolute;
  z-index: 2;
  object-fit: fill;
  height: 98%;
  width: 98%;
  background: none;
  border: none;
}